<div class="space"></div>

<footer id="footer">
    <div class="centered-wrapper">
        <div id="topfooter">
            <div class="one-half">
                <h3><a href="http://www.github.com/yaoqilin"><img src="/yaoqilin.png" style="height: 50px;"></a>
                </h3>
                <p>本网站所有的解释权归<a href="http://www.github.com/yaoqilin">作者</a>所有,不允许任何人以任何目的进行传播和商业运作</p>
                <div class="footer-logo"></div>
            </div><!--end percent-one-half-->
            <div class="one-half column-last">
                <div class="percent-one-half">
                    <h3>旗下网站</h3>
                    <div>node.js问答系统</div>
                    <div>cat.me论坛</div>
                </div>
                <div class="percent-one-half column-last">
                    <h3>联系方式</h3>
                    <ul>
                        <li>QQ:1392675219</li>
                        <li>
                            邮箱: <a href="mailto:">1392675219@qq.com</a></li>
                    </ul>
                </div><!--end one-half-->
            </div><!--end one-half-->
        </div><!--end topfooter-->
    </div><!--end centered-wrapper-->

    <div id="bottomfooter">
        <div class="centered-wrapper">
            <div class="one-half">
                <p>版权所有 &copy; 请勿侵权</p>
            </div><!--end one-half-->

            <div class="one-half column-last">
                <ul id="social">
                    <li><a class="rss" href="http://www.cnki.net/">知网</a></li>
                    <li><a class="facebook" href="http://weibo.com/">微博</a></li>
                    <li><a class="twitter" href="http://cnodejs.org/">Node.js专业中文社区</a></li>
                    <li><a class="flickr" href="https://www.zhihu.com/">知乎</a></li>
                    <li><a class="google" href="http://www.google.com/">Google</a></li>
                </ul>
            </div><!--end one-half-->
        </div><!--end centered-wrapper-->
    </div><!--end bottomfooter-->
</footer><!--end footer-->

</div><!--end wrapper-->
</body>
</html>