<% include header %>
<div class="top-shadow"></div>
<div class="centered-wrapper">
        <img src="img/post_bg.jpg" alt="" width="100%">
    <div class="one-fourth">
        <aside>
            <h6>CNode:</h6>
            <p>坦诚的力量是无穷的<br />
                <a href="https://cnodejs.org/topic/58eee565a92d341e48cfe7fc">精品美文</a><br />
            </p>

        </aside><!--end aside-->
    </div><!--end one-fourth-->

    <div class="three-fourth column-last">
        <h6>发表文章</h6>
        <div id="contactform">
            <div id=""></div>
            <form method="post" action="" name="" id="">
                <label>标题<span>*</span></label>
                <input type="text" name="title"/>
                <fieldset class="percent-one-third">
                    <label>前端 <span>*</span></label>
                    <input id="" type="text" name="tag1"/>
                </fieldset>
                <fieldset class="percent-one-third">
                    <label>后端 <span>*</span></label>
                    <input type="text" name="tag2"/>
                </fieldset>
                <fieldset class="percent-one-third column-last">
                    <label>全栈 <span>*</span></label>
                    <input type="text" name="tag3" />
                </fieldset>
                <fieldset class="clear">
                    <label>正文 <span>*</span></label>
                    <textarea name="post" id=""></textarea>
                </fieldset>
                <fieldset>
                    <input type="submit" name="" value="发表"
                           id="" class="button red"/>
                </fieldset>
            </form>
        </div><!--end contactform-->
    </div><!--three-fourth-->

    <div class="clear"></div>
</div><!--end centered-wrapper-->

<div class="space"></div>
<% include footer %>